nav#nav__bar {
  min-height: 60px;
  width: 100%;
  padding: 1rem 0;
  position: absolute;
  top: 0;
  // background-color: var(--dark-opacity);
  // -webkit-backdrop-filter: blur(10px);
  // backdrop-filter: blur(10px);
  z-index: 100;
}

.logo__wrap {
  display: flex;
  justify-content: center;
  .logo {
    height: auto;
    width: 3rem;
  }
}

.nav__links__wrap {
  width: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .nav__link {
    font-size: 0.6rem;
    font-weight: 600;
    font-family: var(--thin-font);
    &:hover {
      @include gradientText;
    }
  }
}
