@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@300;600&display=swap");
@import "./mixins.scss";

:root {
  --dark-color: #0f172a;
  --dark-opacity: #0f172a86;
  --light-color: #f0e8d5;
  --highlight: #09d89d;
  --highlight-reverse: #ff2d92;
  --cursor-color: #ffffff;
  --max-width: 1024px;
  --thick-font: "Bebas Neue", sans-serif;
  --thin-font: "Montserrat", sans-serif;
  --gradient: linear-gradient(13deg, #01efdf, #00d26d);
  --gradient-alt: linear-gradient(13deg, #f403ec, #3865fb);
  --gradient-three: linear-gradient(13deg, #fee501, #ff4e00);
  --gradient-white: linear-gradient(13deg, #edf1f4, #c3cbdc);
  --gradient-red: linear-gradient(13deg, #fa4447, #f41d7d);
}

// --gradient-alt: linear-gradient(13deg, #f41d7d, #0033ff);

* {
  cursor: none;
  @include mobile {
    cursor: auto;
  }
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: top;
  text-decoration: none;
  box-sizing: border-box;
  overscroll-behavior: none;
  font-family: var(--thick-font);
}

html {
  scroll-behavior: smooth;
  font-size: clamp(14px, 2.5vw, 28px);
  -webkit-font-smoothing: antialised;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  background-color: var(--dark-color);
  color: var(--light-color);
  overscroll-behavior: none;
  line-height: 1.4;
}

hr {
  width: 100%;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

img {
  mix-blend-mode: color-dodge;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
  transition: 400ms ease;
}

/* FONTS */
h1.heading {
  font-size: 1.4rem;
  @include mobile {
    font-size: 1.8rem;
  }
}

h2.subheading {
  font-size: 1.2rem;
  @include mobile {
    font-size: 1.6rem;
  }
}

h3.subheading {
  font-size: 1rem;
  margin-bottom: 1rem;
  letter-spacing: 1px;
  @include mobile {
    font-size: 1.4rem;
  }
}

/* LINKS */
.gradient__text {
  @include gradientText;
  &.education {
    @include gradientTextEdu;
  }
  &.work {
    @include gradientText;
  }
}

p.para {
  font-family: var(--thin-font);
  font-size: 0.6rem;
  &.bold {
    font-weight: 600;
  }
  &.alt__font {
    font-family: var(--thick-font);
  }
  &.underline {
    text-decoration: underline;
  }
  @include tablet {
    font-size: 0.8rem;
  }
  @include mobile {
    font-size: 1rem;
  }
}

.sm__para {
  font-family: var(--thin-font);
  font-size: 0.5rem;
  font-weight: 300;
  &.bold {
    font-weight: 600;
  }
  @include mobile {
    font-size: 0.6rem;
  }
}
