/* BREAKPOINTS */
@mixin desktop {
  @media screen and (min-width: 1024px) {
    @content;
  }
}

@mixin aboveMobile {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: 1023px) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: 767px) {
    @content;
  }
}

@mixin small {
  @media screen and (max-width: 495px) {
    @content;
  }
}

@mixin below350 {
  @media screen and (max-width: 350px) {
    @content;
  }
}

/* GRADIENT TEXT */
@mixin gradientText {
  background: var(--gradient);
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
}

@mixin gradientTextEdu {
  background: var(--gradient-alt);
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
}

@mixin gradientTextThree {
  background: var(--gradient-three);
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
}

@mixin gradientTextWhite {
  background: var(--gradient-white);
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
}

@mixin gradientTextRed {
  background: var(--gradient-red);
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
}
