/* 
This file is used for layout and component styles.
This includes thing like buttons, containers and borders etc.s
*/

/* LAYOUT */

.title__bar {
  height: 0.2rem;
  width: 2rem;
  background: var(--gradient);
  margin: 1.5rem 0;
  &.contact {
    margin: 1.5rem 0 0;
  }
}

@supports (min-height: 90dvh) {
  .container {
    min-height: 90dvh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    &.landing {
      padding-top: 18dvh;
      @include mobile {
        padding-top: 10dvh;
      }
    }
    &.page {
      padding-top: 10vh;
    }
    &.work__item {
      padding-top: 12vh;
      @include mobile {
        padding-top: 18vh;
      }
      @include small {
        padding-top: 20vh;
      }
    }
    &.flex-end {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
    @include mobile {
      align-items: center;
    }
  }
}

@supports not (min-height: 90dvh) {
  .container {
    min-height: 86vh; /* Fallback value or any other value suitable for your layout */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    &.landing {
      padding-top: 18dvh;
      @include mobile {
        padding-top: 10dvh;
      }
    }
    &.page {
      padding-top: 10vh;
    }
    &.flex-end {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
    @include mobile {
      align-items: center;
    }
  }
}

.inner__wrap {
  width: 80%;
  margin: 0 auto;
  max-width: var(--max-width);
  &.space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &.right-align {
    margin: 0 0 0 auto;
  }
  &.full-width {
    width: 100%;
  }
  &.lower-full {
    @include tablet {
      width: 100%;
    }
  }
}

.title__wrap {
  display: flex;
  margin: 2rem 0 0;
  position: relative;
  &.center-start {
    align-items: center;
    justify-content: flex-start;
  }
  &.space__between {
    align-items: center;
    justify-content: space-between;
  }
}

.text__wrap {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
  &.center-start {
    align-items: center;
    justify-content: flex-start;
  }
  &.border-top {
    border-top: 1px solid var(--light-color);
    padding: 2rem 0;
    margin: 0;
  }
  &.right {
    align-items: flex-end;
  }
  &.margin__sm {
    margin: 1rem 0;
  }
}

/* BACKGROUND */
.bg__wrap {
  height: 100dvh;
  width: 100%;
  position: fixed;
  top: 0;
  overflow: clip;
  z-index: -1;
  .bg__img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: auto;
    z-index: -1;
    @include tablet {
      min-height: 100vh;
      min-width: 100%;
    }
  }
  .overlay {
    position: absolute;
    z-index: 0;
    background-color: var(--dark-color);
    height: 100vh;
    width: 100%;
    opacity: 0.98;
    top: 0;
    left: 0;
  }
}

/* BUTTON */

.btn__wrap {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  margin: 8dvh 0;
  &.about-btn {
    margin: 0;
  }
  &.form {
    margin: 0;
  }
  @include small {
    margin: 10dvh 0 6dvh;
  }
  .btn__line {
    height: 1px;
    background-color: var(--light-color);
    width: 100%;
  }
  .link__btn {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    color: var(--light-color);
    font-family: var(--thick-font);
    letter-spacing: 0.1rem;
    font-size: 0.8rem;
    background-color: var(--dark-color);
    border: 1px var(--light-color) solid;
    display: grid;
    place-content: center;
    position: absolute;
    right: 6rem;
    top: -2rem;
    white-space: nowrap;
    transition: 400ms ease;
    &.dl__icon {
      font-size: 1.2rem;
    }
    &.form {
      right: 0;
    }
    &:hover {
      background-color: var(--light-color);
      color: var(--highlight);
    }
    @include mobile {
      right: 10vw;
    }
    @include small {
      right: 0;
    }
  }
}

/* SCROLL BAR */

/* Scrollbar Track */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
