/* BORDERS */
.border {
  border: 1px solid white;
  &.red {
    border-color: red;
  }
  &.blue {
    border-color: blue;
  }
  &.green {
    border-color: yellowgreen;
  }
  &.purple {
    border-color: purple;
  }
}

.border-y {
  border-top: 1px solid var(--light-color);
  border-bottom: 1px solid var(--light-color);
}

.border-top {
  border-top: 1px solid var(--light-color);
}

.border-btm {
  border-bottom: 1px solid var(--light-color);
}

.top-3 {
  position: relative;
  top: 3rem;
}

/* MAX WIDTHS*/

.lg-mw {
  max-width: 30rem;
  @include small {
    max-width: 18 rem;
  }
}

.md-mw {
  max-width: 23rem;
  @include small {
  }
}

.sm-mw {
  max-width: 16rem;
  @include mobile {
    max-width: 18rem;
  }
}

/* Z-INDEX */

.z-10 {
  z-index: 10;
}

.z-20 {
  z-index: 20;
}

.absolute {
  z-index: 20;
  position: absolute;
}

/* OPACITY */
.op-40 {
  opacity: 0.4;
}

.op-60 {
  opacity: 0.6;
}

.op-80 {
  opacity: 0.8;
}

.w-full {
  width: 100%;
}

.w-90 {
  width: 90%;
  &.right-align {
    margin: 0 0 0 auto;
  }
}

.w-80 {
  width: 80%;
}
